/* FONT */
body{
font-family: 'Inter', sans-serif;
}

/* EVENT TITLE */

.event-title{
font-size:22px;
font-weight:700;
margin-bottom:20px;
text-align:center;
}

/* ATHLETE BOX */

.athlete-box{
background:#f4f4f4;
padding:10px;
border-radius:8px;
font-size:14px;
margin-bottom:15px;
}

/* LABEL */

.form-container label{
font-size:13px;
font-weight:600;
margin-top:5px;
}