
.main-banner {
  width: 100%;
  overflow: hidden;
}

.main-banner__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.events-header {
  text-align: center;
  margin: 0 auto;
  background-color: #1971b1;
  padding: 20px 0;
  color: #fff;
}

