<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/camera.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/camera.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/jquery.mobile.customized.min.js"></script>
    <script src="js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>

<body>

<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div class="mobile-menu-bg">
        <div class="container">
            <div class="row">
                <div class="grid_12 mh">
                    <div id="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="camera01" class="camera-wrap">
        <div data-src="./images/index_img-01.jpg"></div>
        <div data-src="./images/index_img-12.jpg"></div>
        <div data-src="./images/index_img-13.jpg"></div>
    </div>

    <div class="logo">
        <img class="line" src="./images/index_img-03_1.png" alt=""/>

        <h1 class="text_2"><a class="hov_1" href="index.html">eXtreme</a></h1>

        <div class="slogan">
            <p class="text_3 color_3">release yourself! feel free! </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <a class="menu-btn bg_1" href="#">
                    <div class="span-wrap">
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                    </div>
                </a>
                <nav>
                    <ul class="sf-menu text_1">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="index-1.html">About</a>
                            <ul>
                                <li><a href="#">Aliquam</a></li>
                                <li><a href="#">Ferment</a></li>
                                <li><a href="#">Mauris</a>
                                    <ul>
                                        <li><a href="#">Aliquet</a></li>
                                        <li><a href="#">Nulla ven</a></li>
                                        <li><a href="#">In pede mi</a></li>
                                        <li><a href="#">Aliquet sit </a></li>
                                        <li><a href="#">Euismod in</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Nulla vel</a></li>
                                <li><a href="#">Sed in lac</a></li>
                            </ul>
                        </li>
                        <li><a href="index-2.html">Blog</a></li>
                        <li><a href="index-3.html">Gallery</a></li>
                        <li class="last-child"><a href="index-4.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
<div class="container">
    <div class="wrapper2">
        <div class="row">
            <div class="grid_12">
                <div class="heading_1">
                    <h3>our vision</h3>
                </div>
                <div class="sub-heading_1 color_3">
                    <h4>New feelings. It’s really worth it!</h4>
                </div>
                <div class="row">
                    <div class="grid_4">
                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">

                            <h4>Sky</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="box wow fadeInUp" data-wow-delay="0.2s">

                            <h4>Water</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="box wow fadeInRight" data-wow-delay="0.2s">

                            <h4>Mountain</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid_4">
                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">

                            <h4>Snow</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="box wow fadeInUp" data-wow-delay="0.2s">
                            <div>
                                <h4>Wheel</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="box wow fadeInRight" data-wow-delay="0.2s">
                            <div>
                                <h4>Exotic</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum mo
                                <br/>
                                lestie lacus. Aenean nonummy hendrerit </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stellar-section">
    <div class="stellar-block first" data-stellar-background-ratio="0.1">
        <div class="container">
            <div class="wrapper3">
                <div class="row">
                    <div class="preffix_4 grid_8">
                        <div class="box2 color_1 wow fadeInRight" data-wow-delay="0.2s">
                            <div class="heading_2">
                                <h2>Lack of Adrenaline? Join us.</h2>
                            </div>
                            <div class="sub-heading_2">
                                <h4>Try it and you’ll become addicted to it.</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum
                                molestie
                                lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maece- <br/>
                                nas tristique orci
                                ac sem. Duis ultricies pharetra magna. Donec accumsan male- <br/>suada orci. Donec
                                sit amet
                                eros. Lorem ipsum dolor sit am.</p>
                            <a class="btn" href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper4">
        <div class="row">
            <div class="grid_12">
                <div class="heading_3 center">
                    <h3>about us</h3>
                </div>
                <div class="row">
                    <div class="grid_3">
                        <div class="quote-box wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="caption bg_2 color_1 equal">
                                <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum
                                    molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.“ </p>
                            </div>
                            <img class="put-left" src="./images/index_img-04.png" alt=""/>

                            <div class="profile">
                                <p class="name text_5">Tom Lee</p>

                                <p class="mail color_4 text_6"><a href="#">mail@demolink.org</a></p>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-facebook"></a></div>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="quote-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="caption bg_2 color_1 equal">
                                <p>“Consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc
                                    odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.
                                    Duis ultricies pharetra magna. “ </p>
                            </div>
                            <img class="put-left" src="./images/index_img-05.png" alt=""/>

                            <div class="profile">
                                <p class="name text_5">Patrick Pool</p>

                                <p class="mail color_4 text_6"><a href="#">mail@demolink.org</a></p>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="quote-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="caption bg_2 color_1 equal">
                                <p>“ Lorem ipsum dolor sit amet, consectetuer adipisc- <br/>ing elit. Praesent
                                    vestibulum
                                    molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.“ </p>
                            </div>
                            <img class="put-left" src="images/index_img-06.png" alt=""/>

                            <div class="profile">
                                <p class="name text_5">Bradley Grosh</p>

                                <p class="mail color_4 text_6"><a href="#">mail@demolink.org</a></p>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-facebook"></a></div>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="quote-box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="caption bg_2 color_1 equal">
                                <p>“Sdipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at,
                                    cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                    pharetra magna. Donec accu.”</p>
                            </div>
                            <img class="put-left" src="./images/index_img-07.png" alt=""/>

                            <div class="profile">
                                <p class="name text_5">Mark Johnson</p>

                                <p class="mail color_4 text_6"><a href="#">mail@demolink.org</a></p>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg_3">
    <div class="container">
        <div class="wrapper5">
            <div class="row">
                <div class="grid_12">
                    <div class="heading_4">
                        <h3>we say thanks</h3>
                    </div>
                    <div class="sub-heading_3 color_3 text_3">
                        <h5>to Our Sponsors</h5>
                    </div>
                    <div class="row">
                        <div class="grid_3 wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="box3 bg_1 first-child_1"><a href="#"><span class="icon_1"></span></a></div>
                        </div>
                        <div class="grid_3 wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="box3 bg_1"><a href="#"><span class="icon_2"></span></a></div>
                        </div>
                        <div class="grid_3 wow fadeInRight" data-wow-delay="0.4s">
                            <div class="box3 bg_1"><a href="#"><span class="icon_3"></span></a></div>
                        </div>
                        <div class="grid_3 wow fadeInRight">
                            <div class="box3 bg_1"><a href="#"><span class="icon_4"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="put-right social">
                    <div class="grid_3">
                        <p>Follow Us</p>
                        <a class="fa fa-twitter" href="#"></a>
                        <a class="fa fa-google-plus" href="#"></a>
                        <a class="fa fa-facebook" href="#"></a>
                        <a class="fa fa-skype" href="#"></a>
                    </div>
                </div>

                <div class="put-right contacts">
                    <div class="grid_4">
                        <div class="address">
                            <p><span>8901 Marmora Road,</span> <br/>
                                <span>Glasgow, D04 89GR.</span></p>
                        </div>
                        <div class="phone">
                            <p><span class="span_pad_1">Telephone:</span> +1 800 603 6035</p>
                        </div>
                        <div class="mail">
                            <span>E-mail: <a class="color_4 text_6" href="#">mail@demolink.org</a></span>
                        </div>
                    </div>
                </div>

                <div class="put-right copyright">

                    <div class="grid_5">
                        <h1 class="text_7"><a class="hov_1" href="index.html">eXtreme</a></h1>
                        <span>&copy; <span id="copyright-year"></span> All Rights Reserved</span><span
                            class="span_pad_2">|</span>
                        <a href="index-5.html">Privacy Policy</a>
                        <!--{%FOOTER_LINK} -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="js/script.js"></script>
</body>
</html>