<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/touchTouch.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="search/search.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>

<body>

<!--========================================================
                          HEADER
=========================================================-->
<header id="header">

    <div class="mobile-menu-bg">
        <div class="container">
            <div class="row">
                <div class="grid_12 mh">
                    <div id="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-header">
        <div class="container">
            <div class="row">
                <div class="grid_12 mh">
                    <a class="menu-btn bg_1" href="#">
                        <div class="span-wrap">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="third"></span>
                        </div>
                    </a>
                    <nav>
                        <ul class="sf-menu text_1">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index-1.html">About</a>
                                <ul>
                                    <li><a href="#">Aliquam</a></li>
                                    <li><a href="#">Ferment</a></li>
                                    <li><a href="#">Mauris</a>
                                        <ul>
                                            <li><a href="#">Aliquet</a></li>
                                            <li><a href="#">Nulla ven</a></li>
                                            <li><a href="#">In pede mi</a></li>
                                            <li><a href="#">Aliquet sit </a></li>
                                            <li><a href="#">Euismod in</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Nulla vel</a></li>
                                    <li><a href="#">Sed in lac</a></li>
                                </ul>
                            </li>
                            <li><a href="index-2.html">Blog</a></li>
                            <li class="current"><a href="index-3.html">Gallery</a></li>
                            <li class="last-child"><a href="index-4.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="grid_12 mh">
                    <h1 class="logo-2 text_7 color_1"><a href="index.html">eXtreme</a></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
    <div class="container">
        <div class="wrapper10">
            <div class="row">
                <div class="grid_12">
                    <div class="heading_1">
                        <h3>gallery</h3>
                    </div>
                    <div class="sub-heading_5 color_3">
                        <h4>Cras sed enim enim</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid_4">
                    <div class="box8 wow fadeInLeft" data-wow-delay="0.2s"><a data-gal href="./images/index-03_img-01_original.jpg"><img src="./images/index-03_img-01.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Duis bibendum elit</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box8 wow fadeInUp" data-wow-delay="0.2s"><a data-gal="" href="./images/index-03_img-02_original.jpg"><img src="./images/index-03_img-02.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Nulla nunc libero</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box8 wow fadeInRight" data-wow-delay="0.2s"><a data-gal="" href="./images/index-03_img-03_original.jpg"><img src="./images/index-03_img-03.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Etiam eu nunc laoreet</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid_4">
                    <div class="box8 wow fadeInLeft" data-wow-delay="0.2s"><a data-gal="" href="./images/index-03_img-04_original.jpg"><img src="./images/index-03_img-04.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Duis dolor velit, mollis</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box8 wow fadeInUp" data-wow-delay="0.2s"><a data-gal="" href="./images/index-03_img-05_original.jpg"><img src="./images/index-03_img-05.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Donec posuere feugiat</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box8 wow fadeInRight" data-wow-delay="0.2s"><a data-gal="" href="./images/index-03_img-06_original.jpg"><img src="./images/index-03_img-06.jpg" alt=""/></a>

                        <div class="caption equal2">
                            <h4>Eros est, tristique</h4>

                            <p>Lorem ium dolor sit amet, consectetuer piscing elit. Praesent vestibulum moi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>


</section>


<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="put-right social">
                    <div class="grid_3">
                        <p>Follow Us</p>
                        <a class="fa fa-twitter" href="#"></a>
                        <a class="fa fa-google-plus" href="#"></a>
                        <a class="fa fa-facebook" href="#"></a>
                        <a class="fa fa-skype" href="#"></a>
                    </div>
                </div>

                <div class="put-right contacts">
                    <div class="grid_4">
                        <div class="address">
                            <p><span>8901 Marmora Road,</span> <br/>
                                <span>Glasgow, D04 89GR.</span></p>
                        </div>
                        <div class="phone">
                            <p><span class="span_pad_1">Telephone:</span> +1 800 603 6035</p>
                        </div>
                        <div class="mail">
                            <span>E-mail: <a class="color_4 text_6" href="#">mail@demolink.org</a></span>
                        </div>
                    </div>
                </div>

                <div class="put-right copyright">

                    <div class="grid_5">
                        <h1 class="text_7"><a href="index.html">eXtreme</a></h1>
                        <span>&copy; <span id="copyright-year"></span> All Rights Reserved</span><span
                            class="span_pad_2">|</span>
                        <a href="index-5.html">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="js/script.js"></script>
</body>
</html>