<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/wow/wow.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>

<body>

<!--========================================================
                          HEADER
=========================================================-->
<header id="header">

    <div class="mobile-menu-bg">
        <div class="container">
            <div class="row">
                <div class="grid_12 mh">
                    <div id="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="stuck_container">
        <div class="bg-header">


            <div class="container">
                <div class="row">

                    <div class="grid_12 mh">
                        <a class="menu-btn bg_1" href="#">
                            <div class="span-wrap">
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                            </div>
                        </a>
                        <nav>
                            <ul class="sf-menu text_1">
                                <li><a href="index.html">Home</a></li>
                                <li class="current"><a href="index-1.html">About</a>
                                    <ul>
                                        <li><a href="#">Aliquam</a></li>
                                        <li><a href="#">Ferment</a></li>
                                        <li><a href="#">Mauris</a>
                                            <ul>
                                                <li><a href="#">Aliquet</a></li>
                                                <li><a href="#">Nulla ven</a></li>
                                                <li><a href="#">In pede mi</a></li>
                                                <li><a href="#">Aliquet sit </a></li>
                                                <li><a href="#">Euismod in</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Nulla vel</a></li>
                                        <li><a href="#">Sed in lac</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-2.html">Blog</a></li>
                                <li><a href="index-3.html">Gallery</a></li>
                                <li class="last-child"><a href="index-4.html">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_12 mh">
                        <h1 class="logo-2 text_7 color_1"><a href="index.html">eXtreme</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
    <div class="container">
        <div class="wrapper6">
            <div class="row">
                <div class="grid_12">
                    <div class="heading_1">
                        <h3>what we do</h3>
                    </div>
                    <div class="heading_2 color_3">
                        <h4>Sed blandit nibh porttitor sagittis</h4>
                    </div>
                    <div class="box4 wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="put-left" src="./images/index-01_img-02.jpg" alt=""/>

                        <div class="caption">
                            <h4>Pellentesque sit amet aliquam velit</h4>

                            <p>Pellentesque sit amet aliquam velit, ac dictum velit. Ut rutrum elit velit, facilisis
                                semper ipsum fermentum et. Donec luctus, turpis vitae consectetur cursus, massa arcu
                                pulvinar mi, sed rhoncus lacus risus eu nunc. Duis quis semper massa, in dignissim est.
                                Cras sed enim amet, consectetur adipiscing elit. Praesent sit amet lacus sed ante
                                elementum egestas. Ves- <br/>tibulum dignissim fermentum mattis. Fusce ut sem id enim
                                lacinia
                                tincidunt. Maecenas quis suscipit quam, egestas dictum massa. </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-content">
        <div class="container">
            <div class="wrapper7">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading_1 color_1">
                            <h3>our advantages</h3>
                        </div>
                        <div class="sub-heading_1 color_1">
                            <h4>Duis bibendum elit in justo consectetur</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_4">
                        <div class="numbered-box color_1 wow fadeInLeft" data-number="1." data-wow-delay="0.2s">
                            <h4>Elit in justo cons</h4>

                            <p>Nulla nunc libero, lacinia ut augue Morbi tristique ipsum sed mauris tempus. Praesent
                                turpis urna, dap
                                ibus eget adipiscing.</p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="numbered-box color_1 wow fadeInUp" data-number="2." data-wow-delay="0.2s">
                            <h4>Consecter, sed </h4>

                            <p>Sit amet, interdum eget urna. Duis fringilla, nisl lacinia sodales interdum, enim orci
                                venenatis fels, sed mollis dui libero in quam. </p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                    <div class="grid_4">
                        <div class="numbered-box color_1 wow fadeInRight" data-number="3." data-wow-delay="0.2s">
                            <h4>Nulla nunc libero</h4>

                            <p>Aliquam libero ipsum, semper a Etiam id adipiscing leo. Maecenas feugiat scelerisque
                                maurs non tincidunt. Morbi sit am.</p>
                            <a class="btn" href="#">read more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper7">
            <div class="row">
                <div class="grid_12">
                    <div class="heading_1">
                        <h3>our members</h3>
                    </div>
                    <div class="sub-heading_5 color_3">
                        <h4>Aliquam libero ipsum, semper a quam</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid_3">
                    <div class="box5 wow fadeInLeft" data-wow-delay="0.2s"><img src="./images/index-01_img-03.jpg"
                                                                                alt=""/>
                        <h4>Eva Adamson</h4>

                        <p>Integer vel nulla a nunc tempor molestie. Nullam accumsan.</p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="box5 wow fadeInLeft" data-wow-delay="0.4s"><img src="./images/index-01_img-04.jpg"
                                                                                alt=""/>
                        <h4>David Austin</h4>

                        <p>Pellentesque eget elit molestie, rutrum turpis sed, tempor erat. </p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="box5 wow fadeInRight" data-wow-delay="0.4s"><img src="./images/index-01_img-05.jpg"
                                                                                 alt=""/>
                        <h4>Natalie Barnes</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="box5 wow fadeInRight" data-wow-delay="0.2s"><img src="./images/index-01_img-06.jpg"
                                                                                 alt=""/>
                        <h4>Thomas Bishop</h4>

                        <p>Sed, tempor erat. Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg_3">
        <div class="container">
            <div class="wrapper8">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading_4">
                            <h3>useful links</h3>
                        </div>
                        <div class="sub-heading_2 color_3 text_3">
                            <h5>Aliquam libero ipsum, semper a quam e</h5>
                        </div>
                        <div class="row">
                            <div class="grid_4">
                                <ul class="link-list wow fadeInLeft" data-wow-delay="0.2s">
                                    <li><a href="#">Suspendisse dictum tellus sed</a></li>
                                    <li><a href="#">Enim iaculis tincidunt</a></li>
                                    <li><a href="#">In venenatis ornare erat, vitae</a></li>
                                    <li><a href="#">Empus massa aliquet aliquam</a></li>
                                </ul>
                            </div>
                            <div class="grid_4">
                                <ul class="link-list wow fadeInUp" data-wow-delay="0.2s">
                                    <li><a href="#">Quisque a turpis sapien</a></li>
                                    <li><a href="#">Interdum et malesuada fames</a></li>
                                    <li><a href="#">Ac ante ipsum primis in</a></li>
                                    <li><a href="#">Quisque tempus, nulla nec</a></li>
                                </ul>
                            </div>
                            <div class="grid_4">
                                <ul class="link-list wow fadeInRight" data-wow-delay="0.2s">
                                    <li><a href="#">Aliquam libero ipsum, semper a</a></li>
                                    <li><a href="#">Quam eu, semper sodales</a></li>
                                    <li><a href="#">Etiam id adipiscing leo</a></li>
                                    <li><a href="#">Maecenas feugiat scelerisque</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="put-right social">
                    <div class="grid_3">
                        <p>Follow Us</p>
                        <a class="fa fa-twitter" href="#"></a>
                        <a class="fa fa-google-plus" href="#"></a>
                        <a class="fa fa-facebook" href="#"></a>
                        <a class="fa fa-skype" href="#"></a>
                    </div>
                </div>

                <div class="put-right contacts">
                    <div class="grid_4">
                        <div class="address">
                            <p><span>8901 Marmora Road,</span> <br/>
                                <span>Glasgow, D04 89GR.</span></p>
                        </div>
                        <div class="phone">
                            <p><span class="span_pad_1">Telephone:</span> +1 800 603 6035</p>
                        </div>
                        <div class="mail">
                            <span>E-mail: <a class="color_4 text_6" href="#">mail@demolink.org</a></span>
                        </div>
                    </div>
                </div>

                <div class="put-right copyright">

                    <div class="grid_5">
                        <h1 class="text_7"><a href="index.html">eXtreme</a></h1>
                        <span>&copy; <span id="copyright-year"></span> All Rights Reserved</span><span
                            class="span_pad_2">|</span>
                        <a href="index-5.html">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="js/script.js"></script>
</body>
</html>